parameters:
  level: 5
  paths:
    - src
    - alt-context.php
  phpVersion: 80000
  bootstrapFiles:
    - tests/stubs/wp.php
  stubFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
  reportUnmatchedIgnoredErrors: true
